<ion-content padding>
    <img (click)='proceeToVimeo()' src="assets/imgs/videos/video1.jpg" style='display:block;width:100%;max-height:150px;'>
    <img (click)='proceeToYouTube()' src="assets/imgs/videos/video2.jpg" style='display:block;width:100%;max-height:150px;'>
    <img src="assets/imgs/videos/video3.jpg" style='display:block;width:100%;max-height:150px;'>
    <img src="assets/imgs/videos/video4.jpg" style='display:block;width:100%;max-height:150px;'>
    <img src="assets/imgs/videos/video5.jpg" style='display:block;width:100%;max-height:150px;'>
</ion-content>