news-feed {
    .header-image
    {
        height: 50vh;
        background-image: url('../assets/imgs/news1.jpg')
    }
    .main-content
    {
        padding:20px;
        background-color: white;
    }
}
