<ion-header>
    <ion-navbar color='clear'>
        <ion-title text-center>
            <p style='font-family:OpenSans;font-size:18px;'>PlayList</p>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h3>Gender & Moods</h3>
    <button class='right' ion-button clear small (click)='seeAll($event)'>
        <p style='font-family:OpenSans;font-size:15px;'>See All</p>
    </button>
    <ion-row>
        <ion-col>
            <img src="assets/imgs/audio/audio1.jpg">
            <h4 class='track'>Trending</h4>
            <p class='tracks'>52 Tracks</p>
        </ion-col>
        <ion-col>
            <img src="assets/imgs/audio/audio2.jpg">
            <h4 class='track'>Trending</h4>
            <p class='tracks'>176 Tracks</p>
        </ion-col>
    </ion-row>
    <hr>
    <div class="box">
        <img src="assets/imgs/audio/audio3.jpg" style="width:100%;max-height:150px;">
        <div class="player">
            <h4>Alternative</h4>
            <p class="tracks">157 tracks</p>
        </div>
    </div>
    <hr>
    <ion-row>
        <ion-col>
            <img src="assets/imgs/audio/audio1.jpg">
            <h4 class='track'>Trending</h4>
            <p class='tracks'>52 Tracks</p>
        </ion-col>
        <ion-col>
            <img src="assets/imgs/audio/audio2.jpg">
            <h4 class='track'>Trending</h4>
            <p class='tracks'>176 Tracks</p>
        </ion-col>
    </ion-row>
    <hr>
</ion-content>