@font-face {
    font-family: BalooBahi;
    src: url('../assets/fonts/BalooBhai.woff2');
}

@font-face {
    font-family: OpenSans;
    src: url('../assets/fonts/OpenSans.woff2');
}


*{
    font-family: BalooBahi;
}