intro {
    .bg-image
    { 
        background-image: url('../assets/imgs/chair.jpg');
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
    }
}
