<ion-slides pager>
  <ion-slide style='background-color:#41c6f1'>
    <i class="fa fa-video-camera" aria-hidden="true" style='font-size:120px;color:#ebebeb'></i>
    <h1 style='color:#ebebeb'>Videos on Demand</h1>
    <p style='font-family:OpenSans;color:#ebebeb;font-size:14px;'>
      Watch videos in your
      <b>own</b> , time
      <i>anywhere</i>
    </p>
  </ion-slide>
  <ion-slide style='background-color:#f06261'>
    <i class="fa fa-bath" aria-hidden="true" style='font-size:120px;color:#ebebeb'></i>
    <h1 style='color:#ebebeb'>In your own space</h1>
    <p style='font-family:OpenSans;color:#ebebeb;font-size:14px;'>
      Catch-up in the
      <b>comfort</b> of your own
      <i>home</i>
    </p>
  </ion-slide>
  <ion-slide style='background-color:#60c4bb'>
    <i class="fa fa-headphones" aria-hidden="true" style='font-size:120px;color:#ebebeb'></i>
    <h1 style='color:#ebebeb'>Live Audio Streams</h1>
    <p style='font-family:OpenSans;color:#ebebeb;font-size:14px;'>
      Liste to 
      <b>live</b> audio
      <b>streams</b> on your
      <i>home</i>
    </p>
  </ion-slide>
  <ion-slide class='bg-image'>
    <h1 style='color:#ebebeb'>Welcome to AppStream</h1>
    <h4 style='color:#ebebeb'>Your streaming partner.</h4>
    <p class='padding' style='font-family:OpenSans;color:#ebebeb;font-size:14px;'>
      Now that you've seen what it's all <br>about , how about we get started?
    </p>
    <div style='position:absolute;bottom:100px;width:100%;text-align:center;'>
        <button ion-button round outline color='MyWhite' (click)= 'proceedToLogin()'>Let's Go</button>
      </div>
  </ion-slide>  
</ion-slides>